{% load static %}
<!doctype html>
<html lang="esp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sinik software Development</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <img src="/static/logo.png"  style="width:100px" clear="left" bg="dark">
      <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'product' %}">Salir</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="{% url 'index' %}">
                  <span data-feather="home"></span>
                  Inicio<span class="sr-only" >(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " href="{% url 'ordenes' %}" >
                  <span data-feather="file"></span>
                  Ordenes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'product' %}" >
                  <span data-feather="shopping-cart"></span>
                  Productos
                </a>
              </li>
              
              
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reportes
                </a>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    
                  </ul>
                </div>
              </nav>
              
              <div style="padding:4.2% 30% 20% 20%">
              
                <form method="POST" class="post-form" enctype="multipart/form-data" data-parsley-validate>
                {% csrf_token %}<!--Capa de proteccion contra la falsificacion de peticiones-->
                
                <p><label for="id_Producto">Nombre del Producto:</label> <input type="text"  name="Producto" class="form-control" minlength="5" maxlength="40" required pattern="[A-Za-z]+" required id="id_Producto" data-parsley-required data-parsley-required-message="Este campo es requerido" data-parsley-error-message='Este caracter es invalido.' > <span class="helptext">Ingrese el nombre del producto</span></p>
              <p><label for="id_Distribuidor">Distribuidor:</label> <select name="Distribuidor" class="form-control" maxlength="100" id="id_Distribuidor">
              <option value="Pollos Hermanos">Pollos Hermanos</option>

              <option value="Vegetales Don Marco">Vegetales Don Marco</option>



              </select> <span class="helptext">Por favor escoja una opción</span></p>
              <p><label for="id_Precio">Valor monetario:</label>
               <input type="number" name="Precio" min="1" max="20000" step="1" class="form-control" step="0.01" required id="id_Precio" data-parsley-required data-parsley-required-message="Este campo es requerido" data-parsley-error-message='El  valor debe ser entre 1 y 20000 .' > <span class="helptext">Solo se permiten 5 digitos enteros</span></p>
              <p><label for="id_Peso">kilaje:</label>
                 <input type="number" name="Peso" min=0 step="0.1" max="1000" class="form-control" step="0.01" required id="id_Peso" data-parsley-required data-parsley-required-message="Este campo es requerido" data-parsley-error-message='El  valor debe ser entre 0 y 1000 .'></p>
              <tr><th><label for="id_Imagen">Imagen del Producto:</label></th><td>
                <input type="file" name="Imagen" accept="image/*" required id="id_Imagen"><br><span class="helptext">Seleccione la imagen correcta</span></td></tr>
              <p><label for="id_Descripcion">Fecha de entrada producto:</label> 
                <input type="date"value="2019-01-01"  name="Descripcion" class="form-control rounded-input rounded-input-med txt12" required id="id_Descripcion" data-parsley-required data-parsley-required-message="Este campo es requerido"> </p>
                <button type="submit"  class="btn btn-sm btn-primary btn-flat" >Guardar</button>
                </form>
              </div>

          

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    
  </body>
</html>
