{% load static %}

<!doctype html>
<html lang="esp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sinik software Development</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sign.css" rel="stylesheet">
  </head>

  <body class="text-center">
  
    <form role="form" data-toggle="validator" method="POST" class="form-signin">
    
      <img class="mb-4" src="/static/logocayal.png" alt="" width="72" height="72">
     <h1></h1>
     
    <form method="POST">
      
        <input type="hidden" name="csrfmiddlewaretoken" value="oayuAMQlBSe3nC5oV9DnhwBli0XH0CuvSNhIPocvTvMmfZX3yvItzkwc9cIjBgU5">
        {% csrf_token %}
         {{ form }}
        <button  class="btn btn-lg btn-primary btn-block"  type="submit">Iniciar Sesión </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2016-2020</p>
    </form>
          
    </body>
</html>
