{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!doctype html>
<html lang="esp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sinik software Development</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <img src="/static/logo.png"  style="width:100px" clear="left" bg="dark">
      <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/accounts/logout/">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="{% url 'index' %}">
                  <span data-feather="home"></span>
                  Inicio <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="{% url 'ordenes' %}" >
                  <span data-feather="file"></span>
                  Ordenes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'product' %}">
                  <span data-feather="shopping-cart">(current)</span>
                  Productos
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reportes
                </a>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Reportes guardados</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Por fecha
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Merma
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Ventas
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Exportar</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                
              </button>
            </div>
          </div>

    <div class="table-responsive">
                                <table  class="table no-margin">
                                    <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Número</th>
                                        <th>Cliente</th>
                                        <th>Fecha</th>
                                        <th>Subtotal</th>
                                        <th>Iva</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <tr>
                                            <td>24</td>
                                            <td>000024</td>
                                            <td>Oscar German Torres Gaibor</td>
                                            <td>2019-03-18</td>
                                            <td>$27,00</td>
                                            <td>$3,24</td>
                                            <td>$30,24</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>23</td>
                                            <td>000023</td>
                                            <td>Jessica Jessenia Guerra Gaibor</td>
                                            <td>2019-03-18</td>
                                            <td>$273,00</td>
                                            <td>$32,76</td>
                                            <td>$305,76</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>22</td>
                                            <td>000022</td>
                                            <td>Jorge Luis Merchan Freire</td>
                                            <td>2018-11-24</td>
                                            <td>$161,00</td>
                                            <td>$19,32</td>
                                            <td>$180,32</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>21</td>
                                            <td>000021</td>
                                            <td>Jessica Jessenia Guerra Gaibor</td>
                                            <td>2018-11-24</td>
                                            <td>$2005,00</td>
                                            <td>$240,60</td>
                                            <td>$2245,60</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>20</td>
                                            <td>000020</td>
                                            <td>Oscar German Torres Gaibor</td>
                                            <td>2018-11-24</td>
                                            <td>$68,00</td>
                                            <td>$8,16</td>
                                            <td>$76,16</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>19</td>
                                            <td>000019</td>
                                            <td>Jorge Luis Merchan Freire</td>
                                            <td>2018-11-24</td>
                                            <td>$27,00</td>
                                            <td>$3,24</td>
                                            <td>$30,24</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>18</td>
                                            <td>000018</td>
                                            <td>Jessica Jessenia Guerra Gaibor</td>
                                            <td>2018-11-24</td>
                                            <td>$45,00</td>
                                            <td>$5,40</td>
                                            <td>$50,40</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>17</td>
                                            <td>000017</td>
                                            <td>Jessica Jessenia Guerra Gaibor</td>
                                            <td>2018-11-24</td>
                                            <td>$20,00</td>
                                            <td>$2,40</td>
                                            <td>$22,40</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>16</td>
                                            <td>000016</td>
                                            <td>Jorge Luis Merchan Freire</td>
                                            <td>2018-11-24</td>
                                            <td>$11,00</td>
                                            <td>$1,32</td>
                                            <td>$12,32</td>
                                        </tr>
                                    
                                        <tr>
                                            <td>15</td>
                                            <td>000015</td>
                                            <td>Jessica Jessenia Guerra Gaibor</td>
                                            <td>2018-11-24</td>
                                            <td>$1725,00</td>
                                            <td>$207,00</td>
                                            <td>$1932,00</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>

          

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    
  </body>
</html>
