{% if form.non_field_errors %}
    <div class="alert alert-danger"  role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
{% endif %}

{% for field in form.visible_fields  %}
    <div class="form-group">
        {{field.label_tag}}
        
        {%if field.errors%}
            {% for error in field.errors  %}
                <ul class="alert alert-danger">
                    <li>{{ error }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% ifequal field form.uso  %}
        <div class="radio-buttons">
        {% for radiobtn in form.uso  %}
            <label for="{{ radiobtn.id_for_label }}">
                <span> {{radiobtn.tag}}{{radiobtn.choice_label}}</span>
            </label>
        {% endfor %}
        </div>
    {% else %}
        {{field}}
    {% endifequal %}
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text}}</small>
    {% endif %}
  </div>
{% endfor %}