{% load static %}
<!doctype html>
<html lang="esp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Inicio de Sesión</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sign.css" rel="stylesheet">
  </head>

  <body class="">

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" />
    </form>
          
      <p class="mt-5 mb-3 text-muted">&copy; 2016-2020</p>
    </form>
  </body>
</html>
<!--<button  class="btn btn-lg btn-primary btn-block"  type="submit" onclick="location.href = 'index';" >Iniciar Sesión </button>-->
